.App {
  margin: 0 auto;
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}
/* Navigation header */
.navigation {
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  width: 100%;
  z-index: 1;
  background: aliceblue;
}

.navigation a {
  text-decoration: none;
  padding: 1rem;
  background: #d6ecff;
  text-decoration: none;
  padding: 1rem;
  width: 10rem;
  margin: 0 auto;
  text-align: center;
}

/* Landing Page */

.landing-page {
  position: absolute;
  margin: 5rem;
  display: grid;
  max-width: 1200px;
  padding-bottom: 10rem;
}
.header {
  width: 100%;
  display: flex;
  align-items: center;
}
.app-name {
  cursor: pointer;
  display: flex;
  align-items: center;
  font-size: x-large;
  font-weight: 700;
  color: #335eea;
  margin-right: 1rem;
}
.action-button {
  flex: 1 0;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #9898ca;
  font-weight: 500;
}
.action-button span {
  margin-right: 2rem;
  cursor: pointer;
}
.primary-button {
  background-color: #335eea;
  color: white;
  padding: 1rem;
  border-radius: 6px;
  cursor: pointer;
  display: flex;
  min-width: 4rem;
  margin-right: 1rem;
}
.default-button {
  background-color: rgba(51, 94, 234, 0.1);
  color: #335eea;
  padding: 1rem;
  border-radius: 6px;
  cursor: pointer;
  display: flex;
}
.welcome-page {
  width: 100%;
  display: flex;
  padding-top: 5rem;
}
.welcome-page div {
  /* float: left; */
  /* width: 50%; */
  height: auto;
  position: relative;
}
.child {
  float: left;
  width: 50%;
  padding: 0 10px;
  position: unset;
  display: block;
  margin: 10px;
  height: 25rem;
  overflow: hidden;
}
.child h1 {
  letter-spacing: -0.02em;
  line-height: 1.2;
  font-size: 2rem;
  font-weight: 400;
}
.child h2 {
  letter-spacing: -0.02em;
  line-height: 1.2;
  font-size: 3rem;
  font-weight: 400;
}
.child p {
  max-width: 70%;
  color: #9898ca;
}
.child img {
  max-width: 100%;
  height: auto;
  border-radius: 10px 10px 0px 0px;
}
.child .button-container {
  display: flex;
  margin-top: 3rem;
  width: fit-content;
}
.child-svg {
  color: #869ab8;
}

.title-text {
  letter-spacing: -0.02em;
  line-height: 1.4;
  letter-spacing: -0.01em;
  font-size: 1.3125rem;
  font-weight: 400;
}
.icon-container svg {
  height: 3rem;
  width: 3rem;
}
.input-form {
  display: block;
  flex-grow: 0;
}
.login-card {
  word-wrap: break-word;
  background-clip: border-box;
  background-color: #fff;
  border: 0 solid #f1f4f8;
  border-radius: 0.375rem;
  display: flex;
  flex-direction: column;
  min-width: 0;
}
.login-card .form-input {
  font-family: 'Roboto', sans-serif;
  color: #869ab8;
  font-size: 1.2rem;
  margin: opx !important;
  padding: 1.5rem 2rem;
  border-radius: 0.2rem;
  background-color: white !important;
  border: none;
  border-bottom: 1px solid;
  display: block;
}
.login-card .form-input:focus-visible {
  outline: none;
}
.login-card .submit-button {
  width: 100%;
  background-color: #42ba96;
  border-radius: 5px;
  margin: opx !important;
}
.login-container {
  box-shadow: 0 1.5rem 4rem rgba(22, 28, 45, 0.05) !important;
  padding: 0px !important;
}
.login-card .text-list {
  display: grid;
}
.text-list span {
  padding: 13px;
  color: #42ba96 !important;
}
.welcome-page .dashboard img {
  transform: rotateY(-35deg) rotateX(15deg);
}
@media screen and (max-width: 750px) {
  .landing-page {
    position: absolute;
    margin-top: 5rem;
    margin-left: 2rem;
  }
  .welcome-page {
    display: block;
  }
  .welcome-page div {
    width: 100%;
  }
  .child-svg {
    width: 9rem !important;
  }
  .App {
    display: block;
  }
}

/* Google api list page */

.list-container {
  margin: 5rem;
}
.list {
  margin: 0 -5px;
}
.list:after {
  content: '';
  display: table;
  clear: both;
}
.book {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 16px;
  text-align: center;
  background-color: #f1f1f1;
  height: inherit;
}
.book-container {
  float: left;
  width: 25%;
  min-width: 12rem;
  max-width: 25rem;
  height: 10rem;
  padding: 0 10px;
  margin: 0rem 0rem 5rem 0rem;
  position: relative;
}
.book-title {
  text-align: left;
  font-size: large;
  color: rgb(0, 0, 0);
  display: -webkit-box;
  word-break: break-word;
  overflow: hidden;
  font-size: 1.25rem;
  margin: 0.25rem 0px;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  font-family: Helvetica, sans-serif;
}
.book-subtitle {
  flex: 1 0;
  color: rgb(114, 114, 114);
  overflow: hidden;
  text-align: initial;
  font-size: 14px;
  text-overflow: ellipsis;
}
.book-publisher {
  position: absolute;
  bottom: 0px;
  font-size: small;
  text-align: initial;
  color: cornflowerblue;
}
@media screen and (max-width: 600px) {
  .book-container {
    display: block;
    margin-bottom: 20px;
    margin: 0rem 0rem 4rem 0rem;
  }
}

/* User Details page */
.user-details-container {
  margin: 5rem;
  width: 100%;
}
.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.user-details-from {
  display: grid;
  margin: 0 auto;
  width: 70%;
}
.form-input {
  font-family: 'Roboto', sans-serif;
  color: #333;
  font-size: 1.2rem;
  margin: 1rem auto;
  padding: 1.5rem 2rem;
  border-radius: 0.2rem;
  background-color: #f1f1f1;
  border: none;
  width: 70%;
  display: block;
}
.submit-button {
  background-color: cornflowerblue; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 1rem auto;
  cursor: pointer;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}

.user-details-card {
  box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%);
  padding: 30px;
  background-color: #f1f1f1;
  position: relative;
  min-height: 7rem;
  min-width: 12rem;
  max-width: 20rem;
}

.user-phone {
  position: absolute;
  bottom: 0px;
  margin-bottom: 20px;
  color: cornflowerblue;
}
